<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>教师主页</title>
    <link href="~/css/teacher/TeacherCourseHomePage.css" rel="stylesheet" type="text/css"/>
    <link href="~/css/vendor/bootstrap.4.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="top">
    <div class="font">
        课堂管理系统
    </div>
    <div class="icon">
        <a href="/desktop/Teacher" style="color: white"><img src="~/img/home.png" alt="">首页</a>
        <a href="#" style="color: white"><img src="~/img/help.png" alt="">帮助</a>
        <a href="/desktop/Login" style="color: white"><img src="~/img/exit.png" alt="">退出</a>
    </div>
    <div class="clear"></div>
</div>
<div class="body">
    <div class="navigation">
        <div class="title">导航</div>
        <div class="line"></div>
        <div class="courseIntroduction">
            <a class="guidefont" href="/desktop/Teacher">基本信息</a>
            <a class="guidefont" href="/desktop/Teacher/Course">课程信息</a>
            <a class="guidefont" href="/desktop/Teacher/Course/Create">新建课程</a>
        </div>
    </div>
    <div class="content">
        <div class="title">课程信息</div>
        <hr class="line" id="courses"/>
        <div class="main_box_right_content courseinfo">
            <img class="addcourse" src="~/img/add.png" alt="">
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="modal fade" id="updateCourseDialog" tabindex="-1" role="dialog" aria-labelledby="updateCourse" aria-hidden="true">
    <form class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateCourse">修改课程</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-group">
                        <label for="name" class="col-form-label">课程名称：</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label for="startTime" class="col-form-label">开始时间：</label>
                        <input type="date" name="begintime" id="startTime"/>
                    </div>
                    <div class="form-group">
                        <label for="endTime" class="col-form-label">结束时间：</label>
                        <input type="date" name="endtime" id="endTime"/>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-form-label">课程介绍：</label>
                        <textarea class="form-control" id="description"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="updateConfirm">确认</button>
                <button type="reset" class="btn btn-secondary">重置</button>
            </div>
        </div>
    </form>
</div>
<script src="~/js/jquery.min.js"></script>
<script async src="~/js/tether.min.js"></script>
<script defer src="~/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
    var token = window.localStorage.getItem("jwt");
    $(function() {
        $.ajax({
            url: 'course',
            type: 'GET',
            dataType: 'json',
            headers: {"Authorization": "Bearer " + token},
            success: function(result) {
                for (var i = result.length; i--;) {
                    $("#courses").after(
                        "<div class=\"main_box_right_content courseinfo\" style=\"font:1rem\" data-course-id=" +
                        result[i].id +
                        "><h3 class=\"classtitle\" style=\"height:35%\" data-course-id=" +
                        result[i].id +
                        ">" +
                        result[i].name +
                        "<button class=\"delete\">删除课程</button> <button class=\"update\">修改课程</button></h3><div class=\"divideline\"></div><div  class=\"classinfo\"><table class=\"table\"><tr><td>班级数：<span>" +
                        result[i].numClass +
                        "</span></td>  <td>学生人数：" +
                        result[i].numStudent +
                        "</td></tr><tr><td>开始时间：" +
                        result[i].startTime +
                        "</td>  <td>结束时间:" +
                        result[i].endTime +
                        "</td></tr></table></div></div>");
                }
                $(".courseinfo").click(function () {
                    if ($(this).attr("data-course-id")) {
                        window.location.href = "Teacher/Course/Courseinfo?id=" + $(this).attr("data-course-id");
                    } else {
                        window.location.href = "Teacher/Course/Create";

                    }
                });
                $('.update').click(function(e) {
                    e.stopPropagation();
                    e.preventDefault();
                    $('#updateCourseDialog').modal();
                    var course = $(this).parent().attr("data-course-id");
                    $.ajax({
                        url: 'course/' + course,
                        type: 'GET',
                        dataType: 'json',
                        success: function(result) {
                            window.localStorage.setItem("course" + course, JSON.stringify(result));
                            $("#updateConfirm").attr("data-course-id", course);
                            $("#name").val(result.name);
                            $("#startTime").val(result.startTime);
                            $("#endTime").val(result.endTime);
                            $("#description").val(result.description);
                        }
                    });
                });
                $("#updateConfirm").click(function(e) {
                    e.preventDefault();
                    var course = $(this).attr("data-course-id");
                    $.ajax({
                        url: 'course/' + course,
                        type: 'PUT',
                        contentType: 'application/json',
                        dataType: 'json',
                        data: JSON.stringify({
                            name: $("#name").val(),
                            startTime: $("#startTime").val(),
                            endTime: $("#endTime").val(),
                            description: $("#description").val(),
                        }),
                        success: function() {
                            window.location.reload();
                        }
                    });
                });
                $(".delete").click(function(e) {
                    e.stopPropagation();
                    e.preventDefault();
                    var course = $(this).parent().attr("data-course-id");
                    if (confirm("是否确认删除课程？")) {
                        $.ajax({
                            url: 'course/' + course,
                            type: 'DELETE',
                            success: function() {
                                window.location.reload();
                            }
                        });
                    }
                });
            }
        });
        $(".returnButton").click(function() {
            window.history.back();
        });
    });
</script>
</body>
</html>