<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>选择课程</title>
    <link href="~/css/student/StudentChooseCoursePage.css" rel="stylesheet" type="text/css"/>

</head>
<body>
<div class="top">
    <div class="font">
        课堂管理系统
    </div>
    <div class="icon">
        <img id="skiphome" src="~/img/home.png">首页
        <img id="skiphelp" src="~/img/help.png">帮助
        <img id="skipexit" src="~/img/exit.png">退出
    </div>
    <div class="clear"></div>
</div>
<div class="body">

    <div class="navigation">
        <div class="title">导航</div>
        <div class="line"></div>
        <div class="courseIntroduction">
            <a class="guidefont" href="/desktop/Student">基本信息</a>
            <a class="guidefont" href="/desktop/Student/Course">课程信息</a>
            <a class="guidefont" href="/desktop/Student/Choosecourse">选择课程</a>
        </div>
    </div>
    <div class="content">
        <div class="title">选择课程</div>
        <hr class="line"/>

        <div id="choose" class="checkcourse">
            <form class="itemName">
                任课教师：<input type="text" name="teacher" id="teacher"><br/>
                课程名称：<input type="text" name="course" id="course"><input type="button" id="submit" value="查询">
            </form>
        </div>
        <div id="insertinfo"></div>
    </div>
    <div class="clear"></div>
</div>
<script src="~/js/jquery.min.js"></script>
<script async src="~/js/tether.min.js"></script>
<script defer src="~/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
    var token = window.localStorage.getItem("jwt");
    var uid = window.localStorage.getItem("id");
    $("#submit").click(function(e) {
        e.preventDefault();
        $.ajax({
            url: '/desktop/class?courseName=' + $("#course").val() + "&courseTeacher=" + $("#teacher").val(),
            type: 'GET',
            dataType: 'json',
            headers: { "Authorization": "Bearer " + token },
            success: function(result) {
                $("#insertinfo").html("");
                for (var i = result.length; i--;) {
                    $("#insertinfo").append(
                        "<div class=\"main_box_right_content\">" +
                        "<h3 class=\"classtitle\">" +
                        result[i].courseName +
                        "<button data-class-id=\"" +
                        result[i].id +
                        "\" id=\"class" +
                        i +
                        "\">选择课程</button></h3><div class=\"divideline\"></div>" +
                        "<div class=\"classinfo\">" +
                        "<table class=\"table\"><tr>" +
                        "<td class=\"tabletext\">班级：<span>" +
                        result[i].name +
                        "</span></td>" +
                        "<td class=\"tabletext\">课程地点：" +
                        result[i].site +
                        "</td>" +
                        "</tr><tr><td class=\"tabletext\">班级人数：" +
                        result[i].numStudent +
                        "</td>" +
                        "<td class=\"tabletext\">时间：" +
                        result[i].time +
                        "</td></tr></table></div>");
                    $("#class" + i).click(function() {
                        var cid = $(this).attr("data-class-id");
                        $.ajax({
                            url: '/desktop/class/' + cid + '/student',
                            type: 'POST',
                            contentType: 'application/json',
                            dataType: 'json',
                            headers: { "Authorization": "Bearer " + token },
                            data: JSON.stringify({
                                id: uid
                            }),
                            success: function() {
                                window.location.href = '/desktop/Student/Course';
                            }
                        });
                    });
                }

            }
        });
    });
    $("#skiphome").click(function() {
        window.location.href = "/desktop/Student";
    });
    $("#skiphelp").click(function() {
        alert("需要帮助吗？");
    });
    $("#skipexit").click(function() {
        window.location.href = "/desktop/Login";
    });
</script>
</body>
</html>