<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>学生查看成绩</title>
    <link href="~/css/student/content.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="top">
    <div class="font">
        课堂管理系统
    </div>
    <div class="icon">
        <img id="skiphome" src="~/img/home.png">首页
        <img id="skiphelp" src="~/img/help.png">帮助
        <img id="skipexit" src="~/img/exit.png">退出
    </div>
    <div class="clear"></div>
</div>
<div class="body">
    <div class="navigation">
        <div class="courseName">OOAD</div>
        <div class="line"></div>
        <div class="courseIntroduction">ooad is xxx</div>
    </div>
    <div class="content">
        <div class="block">
            <div class="title">学生成绩</div>
            <div class="returnButton">返回上一页</div>
            <div class="line"></div>
            <div class="itemBody">
                <div class="item">
                    <table id="studenttable">
                        <tr id="insertinfo">
                            <th>讨论课</th>
                            <th>组名</th>
                            <th>组长</th>
                            <th>课堂讨论课得分</th>
                            <th>报告分数</th>
                            <th>总分</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/query.js"></script>
<script async src="~/js/tether.min.js"></script>
<script defer src="~/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
    var token = window.localStorage.getItem("jwt");
    var id = getQuery()["id"];
    var course = getQuery()["course"];
    var cls = getQuery()["class"];


    $(function () {
        if (window.localStorage.getItem("course" + course)) {
            var c = JSON.parse(window.localStorage.getItem("course" + course));
            $(".courseName").text(c.name);
            $(".courseIntroduction").text(c.description);
        }
        $.ajax({
            url: '/course/' + id + "/grade",
            type: 'GET',
            dataType: 'json',
            headers: {"Authorization": "Bearer " + token},
            success: function(result) {
                for (var i = result.length; i--;) {
                    if (i % 2) {
                        $("#insertinfo").after(
                            "<tr><td>" +
                            result[i].seminarName +
                            "</td>" +
                            "<td>" +
                            result[i].groupName +
                            "</td>" +
                            "<td>" +
                            result[i].leaderName +
                            "</td>" +
                            "<td>" +
                            (result[i].presentationGrade ? result[i].presentationGrade : "暂无")+
                            "</td>" +
                            "<td>" +
                            (result[i].reportGrade ? result[i].reportGrade : "暂无") +
                            "</td>" +
                            "<td>" +
                            (result[i].finalGrade ? result[i].grade : "暂无") +
                            "</td></tr>"
                        );
                    } else {
                        $("#insertinfo").after(
                            "<tr class=\"alt\"><td>" +
                            result[i].seminarName +
                            "</td>" +
                            "<td>" +
                            result[i].groupName +
                            "</td>" +
                            "<td>" +
                            result[i].leaderName +
                            "</td>" +
                            "<td>" +
                            (result[i].presentationGrade ? result[i].presentationGrade : "暂无")+
                            "</td>" +
                            "<td>" +
                            (result[i].reportGrade ? result[i].reportGrade : "暂无") +
                            "</td>" +
                            "<td>" +
                            (result[i].finalGrade ? result[i].grade : "暂无") +
                            "</td></tr>"
                        );
                    }
                }
            }
        });
    });
    $("#skiphome").click(function() {
        window.location.href = "/desktop/Student";
    });
    $("#skiphelp").click(function() {
        alert("需要帮助吗？");
    });
    $("#skipexit").click(function() {
        window.location.href = "/desktop/Login";
    });
    $(".returnButton").click(function() {
        window.location.back(-1);
    });
</script>
</body>
</html>