
<!doctype html>
<html>


<head>
    <meta charset="UTF-8">
    <title>ChooseSchool</title>
    <meta name="divport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/css/ChooseSchool.css" rel="stylesheet" type="text/css" />
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/query.js"></script>


</head>

<body>
    <div class="topbox">
        <div class="PictureDiv">
            <img src="../images/bulb.png" class="bulbimg" />
            <img class="Picture" src="../images/background.jpg" />
            <div class="title0">请选择您的学校</div>
        </div>
        <div class="hrDiv"></div>
        <!--这个class与js有关 实现列表切换-->
        <div id="tab">
            <div class="fixTop title show" id="choose">
                <div id="province" class="cur" >省份</div>
                <div id="city">州市</div>
                <div id="school">学校</div>
            </div>

                <div class="list" id="s1">
                </div>

                <div id="s2" class="list">
                </div>

                <div id="s3"class="list">
                    
                </div>
              </div>
        
 </div>
                    <script>

                        var myTab = document.getElementById("tab");
                        var myUl = myTab.getElementsByTagName("div")[0];
                        var myLi = myUl.getElementsByTagName("div");
                        var myDiv0 = document.getElementById("s1");
                        var myDiv1 = document.getElementById("s2");
                        var myDiv2 = document.getElementById("s3");
                        var token = window.localStorage.getItem("jwt");
                        var number = getQuery()['number'];
                        var name = getQuery()['name'];
                        var type = getQuery()['type'];
                        window.onload = function () {
                            
                            
                            myLi[0].onclick = function () {
                                myLi[1].className = "";
                                myLi[2].className = "";
                                this.className = "cur";
                                myDiv0.className = "show";
                                myDiv1.className = "hide";
                                myDiv2.className = "hide";
  
                            }
                            myLi[1].onclick = function () {
                                myLi[0].className = "";
                                myLi[2].className = "";
                                this.className = "cur";
                                myDiv1.className = "show";
                                myDiv0.className = "hide";
                                myDiv2.className = "hide";

                            }
                            myLi[2].onclick = function () {
                                myLi[0].className = "";
                                myLi[1].className = "";
                                this.className = "cur";
                                myDiv2.className = "show";
                                myDiv0.className = "hide";
                                myDiv1.className = "hide";

                            }
                        }


                            $.ajax({
                                type: 'GET',
                                url: '/school/province',
                                contentType: 'application/json',
                                dataType: 'json',
                                success: function (result) {
                                    $.each(result, function (i, value) {
                                        $("#s1").append(
                                            "<div class='ptr' id='" + value + "'>" +
                                            value + "</div >");
                                        $("#" + value).click(function () {
                                            $("#s2").html("");
                                            myLi[1].className = "cur";
                                            myLi[2].className = "";
                                            myLi[0].className = "";
                                            myDiv0.className = "hide";
                                            myDiv1.className = "show";
                                            myDiv2.className = "hide";
                                            $.ajax({
                                                type: 'GET',
                                                url: '/school/city?province=' + value,
                                                contentType: 'application/json',
                                                dataType: 'json',
                                                success: function (result) {
                                                    $.each(result, function (i, value2) {          
                                                        $("#s2").append(
                                                            "<div class='ptr' id='" + value2 + "'>" +
                                                            value2 + "</div >");
                                                        $("#" + value2).click(function () { 
                                                            $("#s3").html("");
                                                            myLi[2].className = "cur";
                                                            myLi[1].className = "";
                                                            myLi[0].className = "";
                                                            myDiv1.className = "hide";
                                                            myDiv2.className = "show";
                                                            myDiv1.className = "hide";
                                                            $.ajax({
                                                                type: 'GET',
                                                                url: '/school?city=' + value2,
                                                                contentType: 'application/json',
                                                                dataType: 'json',
                                                                success: function (result) {
                                                                    $.each(result, function (i, value3) {
                                                                        $("#s3").append(
                                                                            "<div class='ptr' id='" + value3.id + "'>" +
                                                                            value3.name + "</div >");
                                                                        $("#" + value3.id).click(function () {
                                                                            location.href = encodeURI("/Register/" + type + "Binding?name=" + name + "&number=" + number + "&school=" + value3.name + "&schoolId=" + value3.id);
                                                                        });
                                                                        
                                                                    })
                                                                    $("#s3").append(
                                                                        '<div id="noSch" class="str" ><a href="/Register/CreateSchool?name=' + name + "&number=" + number+"&type="+type+"&province="+value+"&city="+value2+'">无学校？选择创建</a></div>');
                                                                }
                                                            });
                                                        });
                                                    })
                                                }
                                            })
                                        });

                                    });
                                }
                            })

                        
                    </script>
    


</body >
</html >



