<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="divport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0">
    <title>Choose Charactor</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/css/ChooseCharacter.css" rel="stylesheet" type="text/css">
    <script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap -->
</head>

    <body class="body">
        <div class="PictureDiv">
            <!-- 背景图的div -->
            <img class="bulb" src="~/images/bulb.png" />
            <img src="~/images/background.jpg" class="Picture" />
            <div class="title">请选择您的账号类型</div>
        </div>
        <div class="hrDiv"></div>
        <div class="teacherDiv">
            <button class="teacherButton" id="teacherButton">老师</button>
        </div>
        <div class="studentDiv">
            <button class="studentButton" id="studentButton">学生</button>
        </div>


        <script>
            var token = window.localStorage.getItem("jwt");
                $("#teacherButton").click(function () {
                    var type = 'Teacher';
                    $.ajax({
                        url: '/me',
                        type: 'PUT',
                        contentType: 'application/json',
                        dateType: 'json',
                        headers: { "Authorization": "Bearer " + token },
                        data: JSON.stringify({
                            type: type
                        }),
                        dateType: 'json',
                        success: function (data) {
                            document.location.href = '/Register/TeacherBinding';
                        },
                        error: function (error) {
                            alert(error.responseJSON.msg);
                        }
                    });
                });
           
                $("#studentButton").click(function () {
                    var type = 'Student';
                    $.ajax({
                        url: '/me',
                        type: 'PUT',
                        contentType: 'application/json',
                        dateType: 'json',
                        headers: { "Authorization": "Bearer " + token },
                        data: JSON.stringify({
                            type: type
                        }),
                        dateType: 'json',
                        success: function (data) {
                            document.location.href = '/Register/StudentBinding';
                        },
                        error: function (error) {
                            alert(error.responseJSON.msg);
                            document.location.href = '/Register';
                        }
                    });
                });
           
        </script>



    </body>


</html>



