
@{
    ViewBag.Title = "GradePresentationEndUI";
}


<html>
<head>
    <title>Grade Presentation</title>
    <link rel="stylesheet" href="~/css/GradePresentationUI.css">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>打分</title>
</head>

<body class="fullbackground">
    <div class="columndisplay">
        <img class="UsersIcon" src="~/images/users.png" />
        <label>您的打分结果是</label>
    </div>
    <!--细线-->
    <div class="hrDiv">
    </div>

    <div class="middlediv scoremargin">
        <div>
            <label>A1</label>
            <img src="~/images/heart_chosen.png" />
            <img src="~/images/heart_chosen.png" />
            <img src="~/images/heart_chosen.png" />
            <img src="~/images/heart_chosen.png" />
            <img src="~/images/heart_chosen.png" />
        </div>
        <div>
            <label>A2</label>
            <img src="~/images/heart_chosen.png" />
            <img src="~/images/heart_chosen.png" />
            <img src="~/images/heart_empty.png" />
            <img src="~/images/heart_empty.png" />
            <img src="~/images/heart_empty.png" />
        </div>
        <div>
            <label>A3</label>
            <img src="~/images/heart_chosen.png" />
            <img src="~/images/heart_chosen.png" />
            <img src="~/images/heart_chosen.png" />
            <img src="~/images/heart_empty.png" />
            <img src="~/images/heart_empty.png" />
        </div>
        <div>
            <label>B1</label>
            <img src="~/images/heart_empty.png" />
            <img src="~/images/heart_empty.png" />
            <img src="~/images/heart_empty.png" />
            <img src="~/images/heart_empty.png" />
            <img src="~/images/heart_empty.png" />
        </div>
        <div>
            <label>B2</label>
            <img src="~/images/heart_empty.png" />
            <img src="~/images/heart_empty.png" />
            <img src="~/images/heart_empty.png" />
            <img src="~/images/heart_empty.png" />
            <img src="~/images/heart_empty.png" />
        </div>
    </div>
</body>
</html>
