
@{
    ViewBag.Title = "GradePresentationUI";
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Grade Presentation</title>
    <link rel="stylesheet" href="../css/GradePresentationUI.css">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>打分</title>
</head>
 
<body class="fullbackground">
    <script src="~/js/query.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script type="text/javascript">
        var token = window.localStorage.getItem("jwt");
        var seminar = getQuery()["seminarId"];
        var gtg = new Array();
        var grp = new Array();
        var grd = new Array();
        $(function () {
            $.ajax({
                type: 'GET',
                url: '/seminar/' + seminar + '/group/grade',
                data: '',
                contentType: 'application/json;charset=utf-8',
                headers: { "Authorization": "Bearer " + token },
                dataType: 'json',
                success: function (result) {
                    $.each(result, function (i, value) {
                        gtg[i] = value.topicId;
                        grp[i] = value.seminarGroupId
                        $("#groups").append('<div/>' + value.seminarGroup.classId + value.topic.serial + value.seminarGroupId+
                            '<img src="../images/heart_empty.png" onclick="changeimage(' + i + ',0)" id="' + i + 'empty0"/>' +
                            '<img src="../images/heart_empty.png" onclick="changeimage(' + i + ',1)" id="' + i + 'empty1"/>' +
                            '<img src="../images/heart_empty.png" onclick="changeimage(' + i + ',2)" id="' + i + 'empty2"/>' +
                            '<img src="../images/heart_empty.png" onclick="changeimage(' + i + ',3)" id="' + i + 'empty3"/>' +
                            '<img src="../images/heart_empty.png" onclick="changeimage(' + i + ',4)" id="' + i + 'empty4"/>');
                    });
                }
            })
        });

        function changeimage(gtgid, grade) {
            grd[gtgid] = grade + 1;
            element0 = document.getElementById(gtgid + 'empty0');
            element1 = document.getElementById(gtgid + 'empty1');
            element2 = document.getElementById(gtgid + 'empty2');
            element3 = document.getElementById(gtgid + 'empty3');
            element4 = document.getElementById(gtgid + 'empty4');

            if (grade == 0) {
                element0.src = "../images/heart_chosen.png";
                element1.src = "../images/heart_empty.png";
                element2.src = "../images/heart_empty.png";
                element3.src = "../images/heart_empty.png";
                element4.src = "../images/heart_empty.png";
            }
            if (grade == 1) {
                element0.src = "../images/heart_chosen.png";
                element1.src = "../images/heart_chosen.png";
                element2.src = "../images/heart_empty.png";
                element3.src = "../images/heart_empty.png";
                element4.src = "../images/heart_empty.png";
            }
            if (grade == 2) {
                element0.src = "../images/heart_chosen.png";
                element1.src = "../images/heart_chosen.png";
                element2.src = "../images/heart_chosen.png";
                element3.src = "../images/heart_empty.png";
                element4.src = "../images/heart_empty.png";
            }
            if (grade == 3) {
                element0.src = "../images/heart_chosen.png";
                element1.src = "../images/heart_chosen.png";
                element2.src = "../images/heart_chosen.png";
                element3.src = "../images/heart_chosen.png";
                element4.src = "../images/heart_empty.png";
            }
            if (grade == 4) {
                element0.src = "../images/heart_chosen.png";
                element1.src = "../images/heart_chosen.png";
                element2.src = "../images/heart_chosen.png";
                element3.src = "../images/heart_chosen.png";
                element4.src = "../images/heart_chosen.png";
            }
        };

        function submit() {
            for (var i = 0; i < gtg.length; i++) {
                $.ajax({
                    type: 'PUT',
                    url: '/group/grade/presentation',
                    data: JSON.stringify({ TopicId: gtg[i], GroupId:grp[i], Grade:grd[i] }),
                    contentType: 'application/json;charset=utf-8',
                    headers: { "Authorization": "Bearer " + token },
                    dataType: 'json',
                    success: function (result) {
                        $("#info").text("您的打分结果为");
                        $("#submit").remove();
                    }
                });
            }
            
        }
    </script>
    <div class="columndisplay">
        <img class="UsersIcon" src="../images/users.png" />
        <label id="info">请为别的小组展示打分</label>
    </div>
    <!--细线-->
    <div class="hrDiv">
    </div>

    <div class="middlediv scoremargin" id="groups">
        <!--每有一组复制一个div-->

    </div>

    <div class="middlediv scoremargin">
        <button class="btnsubmit" id="submit" onclick="submit()">提交</button>
    </div>


</body>
</html>
