
@{
    ViewBag.Title = "GradePresentationUI";
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Grade Presentation</title>
    <link rel="stylesheet" href="../css/GradePresentationUI.css">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>打分</title>
</head>

<body class="fullbackground">
    <script>
        function changeimage00()
        {
            element0 = document.getElementById('0empty0');
            element1 = document.getElementById('0empty1');
            element2 = document.getElementById('0empty2');
            element3 = document.getElementById('0empty3');
            element4 = document.getElementById('0empty4');

            element0.src = "../images/heart_chosen.png";
            element1.src = "../images/heart_empty.png";
            element2.src = "../images/heart_empty.png";
            element3.src = "../images/heart_empty.png";
            element4.src = "../images/heart_empty.png";
        }
        function changeimage01() {
            element0 = document.getElementById('0empty0');
            element1 = document.getElementById('0empty1');
            element2 = document.getElementById('0empty2');
            element3 = document.getElementById('0empty3');
            element4 = document.getElementById('0empty4');

            element0.src = "../images/heart_chosen.png";
            element1.src = "../images/heart_chosen.png";
            element2.src = "../images/heart_empty.png";
            element3.src = "../images/heart_empty.png";
            element4.src = "../images/heart_empty.png";
        }
        function changeimage02() {
            element0 = document.getElementById('0empty0');
            element1 = document.getElementById('0empty1');
            element2 = document.getElementById('0empty2');
            element3 = document.getElementById('0empty3');
            element4 = document.getElementById('0empty4');

            element0.src = "../images/heart_chosen.png";
            element1.src = "../images/heart_chosen.png";
            element2.src = "../images/heart_chosen.png";
            element3.src = "../images/heart_empty.png";
            element4.src = "../images/heart_empty.png";
        }
        function changeimage03() {
            element0 = document.getElementById('0empty0');
            element1 = document.getElementById('0empty1');
            element2 = document.getElementById('0empty2');
            element3 = document.getElementById('0empty3');
            element4 = document.getElementById('0empty4');

            element0.src = "../images/heart_chosen.png";
            element1.src = "../images/heart_chosen.png";
            element2.src = "../images/heart_chosen.png";
            element3.src = "../images/heart_chosen.png";
            element4.src = "../images/heart_empty.png";
        }
        function changeimage04() {
            element0 = document.getElementById('0empty0');
            element1 = document.getElementById('0empty1');
            element2 = document.getElementById('0empty2');
            element3 = document.getElementById('0empty3');
            element4 = document.getElementById('0empty4');

            element0.src = "../images/heart_chosen.png";
            element1.src = "../images/heart_chosen.png";
            element2.src = "../images/heart_chosen.png";
            element3.src = "../images/heart_chosen.png";
            element4.src = "../images/heart_chosen.png";
        }
        function changeimage10() {
            element0 = document.getElementById('1empty0');
            element1 = document.getElementById('1empty1');
            element2 = document.getElementById('1empty2');
            element3 = document.getElementById('1empty3');
            element4 = document.getElementById('1empty4');

            element0.src = "../images/heart_chosen.png";
            element1.src = "../images/heart_empty.png";
            element2.src = "../images/heart_empty.png";
            element3.src = "../images/heart_empty.png";
            element4.src = "../images/heart_empty.png";
        }
        function changeimage11() {
            element0 = document.getElementById('1empty0');
            element1 = document.getElementById('1empty1');
            element2 = document.getElementById('1empty2');
            element3 = document.getElementById('1empty3');
            element4 = document.getElementById('1empty4');

            element0.src = "../images/heart_chosen.png";
            element1.src = "../images/heart_chosen.png";
            element2.src = "../images/heart_empty.png";
            element3.src = "../images/heart_empty.png";
            element4.src = "../images/heart_empty.png";
        }
        function changeimage12() {
            element0 = document.getElementById('1empty0');
            element1 = document.getElementById('1empty1');
            element2 = document.getElementById('1empty2');
            element3 = document.getElementById('1empty3');
            element4 = document.getElementById('1empty4');

            element0.src = "../images/heart_chosen.png";
            element1.src = "../images/heart_chosen.png";
            element2.src = "../images/heart_chosen.png";
            element3.src = "../images/heart_empty.png";
            element4.src = "../images/heart_empty.png";
        }
        function changeimage13() {
            element0 = document.getElementById('1empty0');
            element1 = document.getElementById('1empty1');
            element2 = document.getElementById('1empty2');
            element3 = document.getElementById('1empty3');
            element4 = document.getElementById('1empty4');

            element0.src = "../images/heart_chosen.png";
            element1.src = "../images/heart_chosen.png";
            element2.src = "../images/heart_chosen.png";
            element3.src = "../images/heart_chosen.png";
            element4.src = "../images/heart_empty.png";
        }
        function changeimage14() {
            element0 = document.getElementById('1empty0');
            element1 = document.getElementById('1empty1');
            element2 = document.getElementById('1empty2');
            element3 = document.getElementById('1empty3');
            element4 = document.getElementById('1empty4');

            element0.src = "../images/heart_chosen.png";
            element1.src = "../images/heart_chosen.png";
            element2.src = "../images/heart_chosen.png";
            element3.src = "../images/heart_chosen.png";
            element4.src = "../images/heart_chosen.png";
        }
        //GET /seminar/{seminarId}/group/my 按讨论课ID获取学生所在小组详情
        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: '/api/seminar/28/group',
                data: '',
                contentType: 'application/json;charset=utf-8',
                dataType: 'json',
                success: function (result) {
                    $.each(result.Data, function (i, value) {
                        $("#groups").append('<div>' + '<label>' + value.name + '</label>' +
                            '<img src="../images/heart_empty.png" onclick="changeimage' + i + '0()" id="' + i + 'empty0"/>' +
                            '<img src="../images/heart_empty.png" onclick="changeimage' + i + '1()" id="' + i + 'empty1"/>' +
                            '<img src="../images/heart_empty.png" onclick="changeimage' + i + '2()" id="' + i + 'empty2"/>' +
                            '<img src="../images/heart_empty.png" onclick="changeimage' + i + '3()" id="' + i + 'empty3"/>' +
                            '<img src="../images/heart_empty.png" onclick="changeimage' + i + '4()" id="' + i + 'empty4"/>' +
                            '</div>');
                    });
                    
                }
            })
        });
        $(document).on("click", ".btnsubmit", function () {
            $.ajax({
                type: 'PUT',
                url: '/api/group/23/grade/presentation/8888',
                data: '',
                contentType: 'application/json;charset=utf-8',
                dataType: 'json',
                success: function () {
                    $("#info").text("您的打分结果为");
                    $("#submit").remove();
                }
            })
        });

    </script>
    <div class="columndisplay">
        <img class="UsersIcon" src="../images/users.png" />
        <label id="info">请为别的小组展示打分</label>
    </div>
    <!--细线-->
    <div class="hrDiv">
    </div>

    <div class="middlediv scoremargin" id="groups">
        <!--每有一组复制一个div-->
        
    </div>

    <div class="middlediv scoremargin">
        <button class="btnsubmit" id="submit">提交</button>
    </div>

    
</body>
</html>
