<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Group</title>
    <link rel="stylesheet" href="~/css/fixgroup.css">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="fullbackground">
    <script>
        //GET /seminar/{seminarId}/group/my 按讨论课ID获取学生所在小组详情
        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: '/api/seminar/28/group/my',
                data: '',
                contentType: 'application/json;charset=utf-8',
                dataType: 'json',
                success: function (result) {
                    $("#name").text(result.Data.leader.name);
                    $("#name").append('<br/>' + result.Data.leader.id);
                    $("#choosetopic").append(result.Data.topics.name);
                    $.each(result.Data.members, function (i, value) {
                        $("#members").append('<div class="block">' +
                            '<div class="panel-body">' +
                            '<div class="column1">' +
                            '<img src="../images/user.png">' +
                            '</div><div class="column2">' + value.name + '<br/>'
                            + value.id + '</div>' +
                            '</div>' +
                            '</div>');
                    });
                }
            })
        });

    </script>
    <div class="seminarblock">
        <div class="panel-body">
            <div class="column0"><img src="~/images/users.png"></div>
            <div class="column2">讨论课<br />随机分组</div>
        </div>
    </div>

    <div class="whitetitle">
        <div class="panel-body">
            <div class="column4">队伍信息：</div>
            
        </div>
    </div>
    <ol id="members">
        <div class="block">
            <div class="panel-body">
                <div class="column1"><img src="~/images/user.png"></div>
                <div class="column2" id="name"></div>
                <div class="column3 leaderp">队长</div>
            </div>
        </div>
        <!--每有一个成员复制一个-->
    </ol>

    <div class="whitetitle">
        <div class="panel-body">
            <div id="choosetopic">选题：</div>
        </div>
    </div>
</body>
</html>