<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="divport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0">
    <title>ClassManage</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/ClassManage.css">
</head>
<body class="body">
    <!--设置蓝色上方-->
    <div class="topBox">
        <span class="title" id="courseName"></span>
        <span class="seminarText" id="seminarName"></span>
    </div>

    <!--讨论课的时间和分组方式-->
    <div class="clockAndGroupDiv">
        <img src="~/images/clock.png" class="icon">
        <span id="seminarTime"></span>
    </div>

    <div class="clockAndGroupDiv">
        <img src="~/images/clip.png" class="icon">
        <span id="groupType"></span>
    </div>

    <div id="classList">
        <!--班级Icon及名字,增加新班级就复制一个div-->
        <!-- <div class="class">
              <img src="~/images/ClassManage.png" class="classIcon" >
              <p class="className">班级1</p>
          </div>
            -->

        <script src="~/js/query.js"></script>
        <script src="~/js/jquery.min.js"></script>
        <script type="text/javascript">
            var courseId = getQuery()["courseId"];
            var token = window.localStorage.getItem("jwt");
            var groupType = "随机分组";
            var seminarId = null;
            $(function () {
                $.ajax({
                    type: 'GET',
                    url: '/course/' + courseId + '/seminar/current',
                    data: '',
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    headers: { "Authorization": "Bearer " + token },
                    success: function (result) {
                        $("#courseName").text(result.coursename);
                        var seminar = result.currentseminar;
                        if (seminar == null) {
                            seminarId = null;
                            $("#groupType").text("当前无讨论课");
                            var now = new Date();
                            $("#seminarTime").text(now.toLocaleDateString());
                        } else {
                            seminarId = seminar.id;
                            $("#seminarName").text(seminar.name);
                            var stime = seminar.startTime;
                            stime = stime.substring(0, 10);
                            var etime =seminar.endTime;
                            etime = etime.substring(0, 10);
                            $("#seminarTime").text(stime + "——" + etime);
                            groupType = seminar.isFixed ? "固定分组" : "随机分组";
                            $("#groupType").text(groupType);
                        }
                    }
                });
                $.ajax({
                    type: 'GET',
                    url: '/course/' + courseId + '/classes',
                    data: '',
                    contentType: 'application/json;charset=utf-8',
                    dataType: 'json',
                    headers: { "Authorization": "Bearer " + token },
                    success: function (data) {
                        if (data.length == 0) { 
                            $("#classList").append('<div class="clockAndGroupDiv">当前课程无班级</div>');
                        }
                        else {
                            for (i = 0; i < data.length; i++) {
                                var tmpclass = data[i];
                                $("#classList").append(
                                    '<div class="class" data-class-id=' + tmpclass.id + '>' +
                                    "<img src=\"/images/ClassManage.png\" class=\"classIcon\" >" +
                                    ' <p class="className" >' + tmpclass.name + '</p>' +
                                    ' </div>'
                                );
                            }
                        }
                        $(".class").click(function () {
                            if (seminarId != null) {
                                if (groupType == "固定分组")
                                    window.location.href = "/Class/FixedRollStartCallUI?classId=" + $(this).attr("data-class-id") + "&seminarId=" + seminarId;
                                else
                                    window.location.href = "/Class/RandomRollStartCallUI?classId=" + $(this).attr("data-class-id") + "&seminarId=" + seminarId;
                            }
                            });
                    }
                })
            });
        </script>
    </div>
</body>
</html>
