<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="divport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0">
    <title>ClassManage</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/ClassManage.css">
    <script src="~/Scripts/jquery-1.11.3.min.js" type="text/javascript"></script>
</head>
<body class="body">
<!--设置蓝色上方-->
<div class="topBox">
    <span class="title">@ViewBag.CourseName</span>
    <span class="seminarText">@ViewBag.SeminarName</span>
</div>

<!--讨论课的时间和分组方式-->
<div class="clockAndGroupDiv" >
    <img src="~/images/clock.png" class="icon">
    <span>@ViewBag.Time</span>
</div>

<div class="clockAndGroupDiv">
    <img src="~/images/clip.png" class="icon">
    <span>@ViewBag.GroupType</span>
</div>

<div id="classList">
    <!--班级Icon及名字,增加新班级就复制一个div-->
    <div class="class">
        <img src="~/images/ClassManage.png" class="classIcon" >
        <p class="className">班级1</p>
    </div>

    <script type="text/javascript">
        var token = window.localStorage.getItem("jwt");
        $(function () {
            $.ajax({
                url: '/course/{courseId}/class',
                type: 'GET',
                dataType: 'json',
                headers: { "Authorization": "Bearer " + token },
                success: function (result) {
                    for (var i = 1; i <= result.length; i++) {
                        $("#classList").append(
                            '<div class="class" classId='+result[i].id+'>' +
                            '<img src="~/images/ClassManage.png" class="classIcon" >' +
                            '<p class="className">' + "班级" + i + '</p>' +
                            '</div>'
                        );
                    }
                    $(".class").click(function () {
                        if ($(this).attr("classId")) {
                            window.location.href="/"
                        }
                    })
                }

            })
        })
    </script>
</div>
</body>
</html>
