<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="divport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0">
    <title>GroupInfo</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/GroupInfoUI2.css">
    <!--设置队伍信息折叠展开-->
    <script>
        function isHidden(oDiv) {
            var vDiv = document.getElementById(oDiv);
            vDiv.style.display = (vDiv.style.display == 'none') ? 'block' : 'none';
        }
    </script>
</head>
<body>
    <!--设置左上角的usersIcon-->
    <div class="blueUsersDiv">
        <img src="~/images/users.png" class='blueUsersIcon' />
        <strong class="title">队伍信息</strong>
    </div>


    <!--细线，hr不好设置css，用一个高度很小的div来代替-->
    <div class="hrDiv" >
    </div>
    <div id="groupList"></div>
    <script src="~/js/query.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script type="text/javascript">
        var classId = getQuery()["classId"];
        var seminarId = getQuery()["seminarId"];
        var token = window.localStorage.getItem("jwt");
        $(function () { 
            $.ajax({
                type: 'GET',
                url: '/seminar/' + seminarId + '/group/' + classId,
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                headers: { "Authorization": "Bearer " + token },
                success: function (data) { 
                    for (i = 0;i < data.length; i++) { 
                        var tmpgroup = data[i];
                        var topics = data[i].topicname;
                        var topicname = '';
                        for (j = 0; j < topics.length; j++)
                            topicname += "话题"+topics[j].serial + "  ";
                        
                        var member = '<div id=' + tmpgroup.groupId + '>';
                        var members = data[i].members;
                        for (j = 0; j <members.length; j++) { 
                            if (j % 2 ==0) {
                                member += '<div class="studentLeftBlock">' +
                                    '<img src="/images/user.png" class="userIcon" />' +
                                    '<span class="studentName">' + members[j].name + '</span>' +
                                    '</div>';
                            } else { 
                                member += '<div class="studentRightBlock">' +
                                    '<img src="/images/user.png" class="userIcon" />' +
                                    '<span class="studentName">' + members[j].name + '</span>' +
                                    '</div>';
                            }
                        }
                        member += '</div>';
                        var groupNo = i + 1;
                        $("#groupList").append(
                            '<div class="studentListBarDiv" onclick="isHidden(' + tmpgroup.groupId + ')">' +               
                            '<span class="groupName">队伍' + groupNo+ '</span>' +
                            '<span class="groupTopics">选题：' + topicname + '</span>' +                         
                            '</div>' +member
                        )
                    }
                }
            });
        });
     </script>
</body >
</html >
