<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="divport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0">
    <title>FixedRollStartCallUI</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/RollStartCallUI.css">
    <script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://api.map.baidu.com/api?v=2.0&ak=BrrrljjzoBgnclkb6CfUFLOgreyRC3DH"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/query.js"></script>

</head>
<body>
    <!--设置左上角的蓝色板-->
    <div class="blueBoardDiv">
        <img src="~/images/blueBoard.png" class='blueBoardIcon' />
    </div>


    <!--班级1 的字样-->
    <div class='classNameDiv' id="className">

    </div>

    <!--学生总数：40 的字样-->
    <div class='studentSumDiv' id="studentSum">
    </div>

    <!--细线，hr不好设置css，用一个高度很小的div来代替-->
    <div class="hrDiv">
    </div>

    <div class="lowBox">
        <!--已签到的学生+icon-->
        <div class="studentNum" id="studentNum">
            <img src="~/images/users.png" class="usersIcon" />
        </div>

        <!--下面是button，分为BigBtn和SmallBnt,只有正在签到时
        的 签到名单按钮 是SmallBnt。 当使用greyBigBtn的时候要加
        上提示语。-->
        <div>
            <button   type="button" class="blueBigBtn" id="startRoll">
                开始签到
            </button>
        </div>
        <div>
            <button type="button" class="greenBigBtn" id="checkGroup">
                查看分组
            </button>
        </div>
    </div>
    <script src="~/js/query.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script type="text/javascript">
        var classId = getQuery()["classId"];
        var seminarId = getQuery()["seminarId"];
        var token = window.localStorage.getItem("jwt");
        $("#checkGroup").click(function () { 
            window.location.href = "/Class/FixedGroupInfoUI?classId=" + classId + "&seminarId=" + seminarId;
        });
        $("#startRoll").click(function () {
            var geolocation = new BMap.Geolocation();
            var longitude;
            var latitude;
            geolocation.getCurrentPosition(function (r) {
                if (this.getStatus() == BMAP_STATUS_SUCCESS) {

              //      alert('您的位置：' + r.point.lng + ',' + r.point.lat);
                    longitude = r.point.lng;
                    latitude = r.point.lat;
                    $.ajax({
                        type: 'POST',
                        url: '/class/' + classId + '/startrollcall',
                        contentType: 'application/json',
                        dateType: 'json',
                        data: JSON.stringify({
                            ClassInfoId: classId,
                            SeminarId: seminarId,
                            Longitude: longitude,
                            Latitude: latitude,
                            Status: 1
                        }),
                        headers: { "Authorization": "Bearer " + token },
                        success: function (result) {
                            window.location.href = "/Class/FixedRollCallUI?classId=" + classId + "&seminarId=" + seminarId;
                        }
                    });
                }
                else {
                    alert('failed' + this.getStatus());
                }
            });
        });
        $(function () {
            $.ajax({
                type:'GET',
                url: '/classInfo/' + classId,
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                headers: { "Authorization": "Bearer " + token },
                success: function (result) {
                    $("#className").append(result.classname);
                    $("#studentSum").append("学生总数:"+result.numStudent);
                    $("#studentNum").append("已签到学生:0/" + result.numStudent);
                }
            })
        });
    </script>
</body >
</html >
