<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="divport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0">
    <title>RandomEndRollCall</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/RollStartCallUI.css">


</head>
<body>
    <!--设置左上角的蓝色板-->
    <div class="blueBoardDiv">
        <img src="~/images/blueBoard.png" class='blueBoardIcon' />
    </div>


    <!--班级1 的字样-->
    <div class='classNameDiv' id="className">
    </div>

    <!--学生总数：40 的字样-->
    <div class='studentSumDiv' id="studentSum">
    </div>

    <!--细线，hr不好设置css，用一个高度很小的div来代替-->
    <div class="hrDiv">
    </div>

    <div class="lowBox">
        <!--已签到的学生+icon+签到名单，表示当签到开始后结束前的样子-->
        <div class="studentNum" id="studentNum">
            <img src="~/images/users.png" class="usersIcon" />
        </div>

        <!--下面是button，分为BigBtn和SmallBnt,只有正在签到时
        的 签到名单按钮 是SmallBnt。 当使用greyBigBtn的时候要加
        上提示语。-->
        <div />
        <div />
        <div>
            <button type="button" class="greenBigBtn" id="checkGroup">
                查看分组
            </button>
        </div>
    </div>
    <script src="~/js/query.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script type="text/javascript">
        var classId = getQuery()["classId"];
        var seminarId = getQuery()["seminarId"];
        var token = window.localStorage.getItem("jwt");
        $(function () {
            $.ajax({
                type: 'GET',
                url: '/class/' + classId + '/' + seminarId + '/attendance/showPresent',
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                headers: { "Authorization": "Bearer " + token },
                success: function (result) {
                    $("#className").append(result.classname);
                    $("#studentSum").append("学生总数:" + result.numStudent);
                    $("#studentNum").append("已签到学生:" + result.presentcount + "/" + result.numStudent);
                }
            })
        });
        $("#checkGroup").click(function () {
            window.location.href = "/Class/GroupInfoUI?classId=" + classId + "&seminarId=" + seminarId;
        });
    </script>
</body >
</html >

