@charset "utf-8";
/* CSS Document */

 html
        {
         height:100%;
         margin:0;
        }
        body
        {
            height:100%;
            margin:0; 
        }
      .top{
        width: 100%;
        height: 16%;
        min-height: 100px;
        background-color: rgba(65,199,219,0.7);
        text-align: center;
        margin: 0 auto;
      }

      /**
      *这个是指下面的导航和显示信息的块的样式，从整体上来讲，下面是一个大块
      */

      .body{
        width: 100%;
        height: 84%;
        background-color: white;
      }
      .navigation{
        width: 20%;
        height: 100%;
        background-color: rgba(204,204,204,0.6);
        float: left;
      }
      .content{
        width: 80%;
        height: 100%;
        background-color: white;
        float: right;
      }
      .clear{
        clear: both;
      }
      .font{
      	width: 50%;
        font-family: YouYuan;
        font-size: 40px;
        font-weight: bold;
        text-align: right;
        padding-top: 2%;
        margin-left: 9%;
        float: left;
        color: #FFFFFF;
      }
   
      .courseIntroduction{
        width: 90%;
        height: 80%;
        margin-top: 4%;
        margin-left: auto;
        margin-right: auto;
        font-family: YouYuan;
        font-size: 18px;
      }
      .title{
        width: 20%;
        font-family: YouYuan;
        font-size: 20px;
        font-weight: bold;
        padding: 1px;
        margin-left: 2%;
        margin-top: 1.2%;
        color: #0BACE1;
      }
    
      
      
     .line{
        width: 96%;
        margin: 0 auto;
        border: 1.5px solid #41C7DB;
      }
      .icon{
      	width:20%;
      	font-family: YouYuan;
      	font-size: 20px;
      	text-align: center;
      	color: white;
      	padding-top: 4%;
      	float: right;
      }
 .guidefont{
    		width: 100%;
    		height: 7%;
    		display: block;
    		padding-left: 10%;
    		font-family: Arial;
    		font-size: 18px;
    		color: #282828;
    		/*font-style: normal;*/
    		text-decoration: none;
			/*background-color: #00EEF2;*/


    	}
	  .newcourse{
		 
		color: #0BACE1;
	margin-left: 10px;}
	.line{
		
		color: #2FB5E1;
	border: 1px solid #2FB5E1;
	margin-left: 10px;
	margin-right: 10px;}
	  .imgarea{
		  float:left;
		  margin-left:5%;
		  margin-top:4%;
		  width:30%;}
	  .img{
	width: 40%;
	height: 40%;
	padding-left:20%;
	
}
.info{
	
	float:right;
	width:65%;
	 margin-top:2%;}
	 .itemName{
        
       
        font-family: YouYuan;
        font-size: 18px;
        text-align: justify-all;
      }
.table{
	
	width:100%;}
	.table td{
			height:50px;}
	
	.button{
	
	width:100px;
	height:30px;
		margin-left:30%;}
		.button button{
			width:100px;
	height:30px;
	border:none ;
	border-radius: 10px;
	margin-right: 10px;
			}