body {
    font: "Trebuchet MS", Verdana, sans-serif;
    background-color: #5c87b2;
    color: #696969;
}

h1 {
    border-bottom: 3px solid #cc9900;
    font: Georgia, serif;
    color: #996600;
}

#main {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 0 4px 4px 4px;
}

a {
    color: #034af3;
}

/* 菜单样式 ------------------------------*/
ul#menu {
    padding: 0px;
    position: relative;
    margin: 0;
}

    ul#menu li {
        display: inline;
    }

        ul#menu li a {
            background-color: #e8eef4;
            padding: 10px 20px;
            text-decoration: none;
            line-height: 2.8em;
            /*CSS3 properties*/
            border-radius: 4px 4px 0 0;
        }

            ul#menu li a:hover {
                background-color: #ffffff;
            }

/* 表单样式 ------------------------------*/
fieldset {
    padding-left: 12px;
}

    fieldset label {
        display: block;
        padding: 4px;
    }

input[type="text"], input[type="password"] {
    width: 300px;
}

input[type="submit"] {
    padding: 4px;
}

/* 数据样式 ------------------------------*/
table.data {
    background-color: #ffffff;
    border: 1px solid #c3c3c3;
    border-collapse: collapse;
    width: 100%;
}

    table.data th {
        background-color: #e8eef4;
        border: 1px solid #c3c3c3;
        padding: 3px;
    }

    table.data td {
        border: 1px solid #c3c3c3;
        padding: 3px;
    }
