<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="divport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0">
    <title>Course</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/css/CourseUI.css" rel="stylesheet" type="text/css">
</head>
<body class="body">
    <div class="topBox">
        <span class="title" id="coursename"></span>
        <img class="info" src="../images/ninedot.png" />
    </div>
    <div id="list">
        <script src="~/js/query.js"></script>
        <script src="~/js/jquery.min.js"></script>
        <script type="text/javascript">
            var token = window.localStorage.getItem("jwt");
            var course = getQuery()["courseId"];
            $(function () {
                $.ajax({
                    type: 'GET',
                    url: '/course/' + course + '/seminar',
                    data: '',
                    contentType: 'application/json;charset=utf-8',
                    headers: { "Authorization": "Bearer " + token },
                    dataType: 'json',
                    success: function (result) {
                        var date = new Date();
                        var seperator1 = "-";
                        var month = date.getMonth() + 1;
                        var strDate = date.getDate();
                        if (month >= 1 && month <= 9) {
                            month = "0" + month;
                        }
                        if (strDate >= 0 && strDate <= 9) {
                            strDate = "0" + strDate;
                        }
                        var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate;//获取当前日期。
                        $.each(result, function (i, value) {
                            document.getElementById("coursename").innerText = value.seminar.course.name;
                            var fix = value.isFixed ? '固定分组' : '随机分组';
                            var color = currentdate.substring(0, 10) <= value.seminar.endTime.substring(0, 10) ? '<div class="blueBox"' : '<div class="greyBox"';
                            $("#list").append(
                                color + "onclick='window.location.href= &apos;/Seminar/Seminar?seminarId="+value.seminar.id+"&classId="+value.classId+"&apos;'"+//此处待/seminar？semianrId=...该页面实现后可以成功跳转。
                                '>' +
                                '<p class="LeftBoxText" >' + value.seminar.name + '</p ><!--蓝色选择框-->' +
                                '<p class="RightBoxText1" style="margin-left: 60%;margin-top: 3%" >' + value.seminar.startTime.substring(0, 10) + "~" + '</p>' +
                                '<p class="RightBoxText1" style="margin-left: 60%;margin-top: 12%" >' + value.seminar.endTime.substring(0, 10) + '</p>' +
                                '<p class="RightBoxText2" style="margin-left: 60%;margin-top: 20%"> ' + fix + '</p></div>')
                        });
                        
                        $(".topBox").click(function () {
                            window.location.href = "/Course/CourseInfoUI?courseId="+course;
                        })

                    }
                })
            });
        </script>

    </div>
</body>

</html>

